<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jayniz.dockercloud</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>56ED17CB-E963-44F9-A657-03C23C4813FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42655A26-8B7F-4947-8147-741A81C149A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DD7D677-3994-4F42-80E9-76921E6AE142</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A42C589-30B7-4BC5-BD92-C07722ED2617</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4506B71-CC6E-44CA-949A-7DF871943291</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9D33FD0-E8D4-43A8-A09A-8290D756D103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9D33FD0-E8D4-43A8-A09A-8290D756D103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>187DF2B0-5FC8-4239-BCA7-BCBF2F6F2F40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEA96012-9D4E-4EE3-895C-F3DBEB2FA05B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17A5E1AE-8919-48BC-996F-D58EE3F74166</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C54F4F77-975F-4805-A3A6-C535222D3500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26953E0B-FD2E-4BE6-9DD2-59A440D82DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jannis Hermanns</string>
	<key>description</key>
	<string>Quickly jump into docker cloud stacks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Docker Cloud</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching stacks from dockercloud...</string>
				<key>script</key>
				<string>ruby run.rb stacks search "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search on docker cloud</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C54F4F77-975F-4805-A3A6-C535222D3500</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qry="{query}"

case "$qry" in
  https://*)
	open "$qry"
	;;
  *) # rebuild cache, then repeat search
	ruby run.rb stacks refresh &amp;&amp;
	osascript -e 'tell Application "Alfred 3" to search "dc '"{query}"'"'
    echo 'osascript -e tell Application "Alfred 3" to search "dc '"{query}"'"'
	;;
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26953E0B-FD2E-4BE6-9DD2-59A440D82DA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>It will refresh the next time you search</string>
				<key>title</key>
				<string>Docker cloud cache purged</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>187DF2B0-5FC8-4239-BCA7-BCBF2F6F2F40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby run.rb reset</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9D33FD0-E8D4-43A8-A09A-8290D756D103</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dc-refresh</string>
				<key>subtext</key>
				<string>Clear docker cloud cache</string>
				<key>text</key>
				<string>dc-refresh</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4506B71-CC6E-44CA-949A-7DF871943291</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>dc-organization</string>
				<key>subtext</key>
				<string>Set the organization for docker cloud (submit empty for default)</string>
				<key>text</key>
				<string>dc-organization</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BEA96012-9D4E-4EE3-895C-F3DBEB2FA05B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby run.rb namespace {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>17A5E1AE-8919-48BC-996F-D58EE3F74166</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error accessing docker cloud</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42655A26-8B7F-4947-8147-741A81C149A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>dockercloud error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>56ED17CB-E963-44F9-A657-03C23C4813FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Docker Cloud organization updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0A42C589-30B7-4BC5-BD92-C07722ED2617</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>organization updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8DD7D677-3994-4F42-80E9-76921E6AE142</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A42C589-30B7-4BC5-BD92-C07722ED2617</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>17A5E1AE-8919-48BC-996F-D58EE3F74166</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>187DF2B0-5FC8-4239-BCA7-BCBF2F6F2F40</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>26953E0B-FD2E-4BE6-9DD2-59A440D82DA9</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>42655A26-8B7F-4947-8147-741A81C149A3</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>56ED17CB-E963-44F9-A657-03C23C4813FF</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>8DD7D677-3994-4F42-80E9-76921E6AE142</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>A4506B71-CC6E-44CA-949A-7DF871943291</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A9D33FD0-E8D4-43A8-A09A-8290D756D103</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>BEA96012-9D4E-4EE3-895C-F3DBEB2FA05B</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C54F4F77-975F-4805-A3A6-C535222D3500</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jayniz/alfred-dockercloud</string>
</dict>
</plist>
